<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.elf.geom"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="cz.cvut.elf.mainapp.permission" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="cz.cvut.elf.geom.ElfActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="cz.cvut.elf.geom.planet_launch_intent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.TaskProvider"
            android:authorities="cz.cvut.elf.geom.provider"
            android:exported="true" >
        </provider>
    </application>

</manifest>